#title {
    font-size: 3.5vw;
    text-align: center;
    font-family: 'Roboto', serif;
}
#game {
    width: 60%;
    padding-top: 37.5%;
    display: block;
    border: 0.15vw solid black;
    margin: 2% auto auto;
    position: relative;
}
#background {
    width: 100%;
    height: 90%;
    background-image: url(/static/favicon.ico);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#location {
    font-size: 2.5vw;
    font-family: 'Roboto', sans-serif;
    color: white;
    -webkit-text-stroke: 0.075vw black;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    height: 8%;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#choices {
    height: 10%;
    display: block;
    position: absolute;
    top: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 0.15vw solid black;
}
div.choice {
    height: 100%;
    border-right: 0.075vw solid black;
    border-left: 0.075vw solid black;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
div.choiceInside {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}