<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Bellum Game</title>
    <script src="{{ script_source }}" type="text/javascript"></script>
     <link rel="stylesheet" href="{{ style_source }}">
    <link rel="icon" href="static/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div id="title">Post Bellum Game</div>
<div id="game">
    <div id="background"></div>
    <div id="location">Start</div>
    <div id="choices"></div>
</div>
</body>
</html>